/*
---------
RESET
---------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------
COMMON
---------
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #232946;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[v-cloak] {
    display: none;
}

ul {
    list-style: none;
}

/*
---------
MAIN
---------
*/

.email-dropdown {
    background-color: #eebbc3;
    border-radius: .1875rem;
    padding: .375rem;
    margin: 1.25rem 0;
    width: 35%;
    text-align: center;
    cursor: pointer;
    color: #232946;
    box-shadow: 2px;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    color: #fffffe;
    margin: 1.875rem;
}

.email-dropdown h2 {
    font-size: 1.25rem;
}

.email li {
    background-color: #b8c1ec;
    border-radius: .3125rem;
    padding: .1875rem;
    margin-bottom: .5rem;
    color: #fffffe;
}